body {
  margin-left: 5%;
  margin-right: 5%;
  padding: 0%;
  text-align: center;
  background-image: url(elegant-abstract-background-for-graphic-or-web-design-that-will-make-your-designs-look-professional-vector.jpg);

  
  
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}
#ConteinerCard{
  display: flex; 
  justify-content: center;
  
}
